.review-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background: #4A6FA5;
  background: linear-gradient(180deg, rgb(74, 111, 165) 0%, rgb(0, 0, 0) 100%);
}
.review-container h2 {
  color: #EFF2F7;
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 2rem;
}
.review-container div {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}
.review-container div ul {
  padding: 0;
  margin: 0;
  display: flex;
}
.review-container div ul li {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #EFF2F7;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  border-radius: 25px;
  width: 350px;
  height: 350px;
}
.review-container div ul li .prof-pic {
  align-items: center;
  margin-bottom: 20px;
}
.review-container div ul li .prof-pic img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}
.review-container div ul li .prof-pic h4 {
  color: #2C3E50;
  padding: 0;
  margin: 0;
  margin-left: 1.5rem;
  font-size: 1.5rem;
}
.review-container div ul li .song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 255px;
  margin: 0;
}
.review-container div ul li .song-info p {
  color: #2C3E50;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}
.review-container div ul li .song-info h5 {
  color: #2C3E50;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  margin-top: 2rem;
}
.review-container div .my-review-button {
  background-color: #EFF2F7;
  height: 82px;
  margin: 0;
  padding: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  border: none;
  border-radius: 25px;
  font-size: 1.75rem;
  scale: 0.9;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2C3E50;
}
.review-container div .my-review-button:hover {
  scale: 1;
  background-color: #FF6B35;
}

.modal-review {
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.modal-review div {
  width: 50vw;
  height: 50vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFF2F7;
  gap: 30px;
  border-radius: 50px;
}
.modal-review div h2 {
  color: #2C3E50;
  font-weight: normal;
  margin: 0;
}
.modal-review div form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modal-review div form .textarea {
  display: flex;
  height: 100%;
  padding-top: 0;
  margin: 0;
}
.modal-review div form .textarea textarea {
  background-color: #DEEAFE;
  resize: none;
  border-radius: 25px;
  border: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.modal-review div form .button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: auto;
}
.modal-review div form .button button {
  background-color: #DEEAFE;
  padding: 2rem;
  resize: none;
  border-radius: 25px;
  border: none;
  width: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.modal-review div form .button button:hover {
  scale: 1.05;
  background-color: #FF6B35;
}/*# sourceMappingURL=Reviews.css.map */