@use '../styles/object/header.scss';
@use '../styles/object/footer.scss';
@use '../styles/object/glav/SloganBlock.scss';
@use '../styles/object/glav/WhyUs.scss';
@use '../styles/object/glav/Reviews.scss';
@use '../styles/object/glav/AnyQuestions.scss';
@use '../styles/object/chat.scss';
@use '../styles/object/acaunt.scss';

html, body, #root {
    height: 100vh;
    margin: 0;
    padding: 0;
    
}
#root > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header, footer {
    flex-shrink: 0;
}

.container {
    flex: 1; 
    display: flex;
    overflow: hidden;
}

html{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
}