$white: #ffffff;
$dark: #0D0D0D;
$blue: #4A6FA5;
$orange: #FF6B35;
$whb: #EFF2F7;
$drblue: #2C3E50;
$drblue: #1B283B;
$whblue: #076CFF;

$transition-main: all 0.5s ease;
$transition-speed: 0.5s;

footer{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #2C3E50;
    padding: 1rem;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0;
    color: #EFF2F7;

    h4{
        font-size: 20px;
        font-weight: normal;
        margin-top: 0.5rem;
    }

    a{

        img{
            height: 50px;
        }
    }
}

.right-side{
    display: flex;
    max-width: 400px;

    div{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        text-align: left;

        h3{
            margin: 0;
        }

        div{
            margin: 0;
            max-width: 130px;
            font-size: 16px;
        }
    }
}