$white: #ffffff;
$dark: #0D0D0D;
$blue: #4A6FA5;
$orange: #FF6B35;
$whb: #EFF2F7;
$drblue: #2C3E50;
$drblue: #1B283B;
$whblue: #076CFF;

$transition-main: all 0.5s ease;
$transition-speed: 0.5s;

footer{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #1B283B;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0;
    color: #EFF2F7;

    h4{
        font-size: 20px;
        font-weight: normal;
        margin: 0;
        margin-top: 20px;
    }

    a{

        img{
            height: 30px;
        }
    }
}

.right-side{
    display: flex;

    div{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 10px;
        margin-left: 40px;

        .footer-text{
            margin: 0;
            font-size: 16px;
        }
        .footer-oferta{
            margin: 0;
            width: auto;
        }
        .footer-contacts{
            margin: 0;
            width: auto;
        }

        a{
            transition: all 0.5s ease;
            cursor: pointer;
            &:hover{
                color: #FF6B35;
                scale: 1.1;
            }
        }

        span{
            transition: all 0.5s ease;
            cursor: pointer;
            &:hover{
                color: #FF6B35;
                scale: 1.1;
            }
        }
    }
}