$white: #ffffff;
$dark: #0D0D0D;
$blue: #4A6FA5;
$orange: #FF6B35;
$whblue: #EFF2F7;
$drblue: #2C3E50;

$transition-main: all 0.5s ease;
$transition-speed: 0.5s;

header{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #2C3E50;
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: 0;

  img{
    height: 82px;
  }

  div{
    display: flex;
    align-content: center;
   align-items: center;  

    button {
        background: none;
        border: none;
        color: inherit;
        outline: none;
        color: #EFF2F7;
        padding: 0;
        margin: 0;
        margin-left: 1rem;
        margin-right: 1rem;

        p{
          cursor: pointer;
          font-size: 20px;
          margin: 0;
        }
    }
  }

  .profile-button{
    background-color: #FF6B35;
    margin: 0;
    padding: 2rem;
    color: #2C3E50;
    border-radius: 50px;
    font-size: 20px;
  }
}