@use './vars.scss' as *;

nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--bg-glass);
  border-bottom: 10px solid var(--borderborder-color);
  z-index: 1000;
  padding: 1vw 5vw;

  a {
    display: flex;
    color: $white;
    text-decoration: none;
    font-size: 2vw;
    margin-left: 2vw;
    transition: all $transition-speed;

    &:hover {
      color: $accent-blue;
    }
  }

  navimg {
    padding: 0;
    margin-left: 2vw;
    align-items: center;
  }

  img {
    width: 4vw;
    cursor: pointer;
  }
}

.NAVlogo {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
  color: $accent-blue;
  font-size: 2vw;

  h1 {
    margin: 0 0 0 1vw;
  }
}

.NAVnav {
  display: flex;
  align-items: center;
  align-content: center;
}

.logo1 {
  width: 5vw;
}

.open-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}